.btn-link {
  align-items: center;
  background-color: $black;
  border-radius: 12px;
  color: #fff;
  display: flex;
  font-size: 22px;
  gap: 20px;
  padding: 12px 24px;
  width: max-content;

  img {
    height: 17px;
    width: auto;
  }
}
