.btn-link {
  align-items: center;
  background-color: $black;
  border-radius: $border-radius;
  color: $white;
  display: flex;
  font-size: $font-m;
  gap: $spacing;
  padding: $spacing--05 $spacing;
  width: max-content;
  cursor: pointer;

  img {
    height: $font-s;
    width: auto;
  }
}
