$black: #323232;
$white: #fff;
$dandy: #7ad9ff;
$rose-pink: rgb(235, 182, 182);
$gray: rgb(50, 50, 50);
$yellow: rgb(255, 184, 0);
$light-yellow: rgb(253, 218, 126);
$white: rgb(240, 240, 240);
$petrol: rgb(0, 127, 149);
