:root {
  font-size: $font-s;
}

h1 {
  font-size: $font-xl;
  margin-bottom: 32px;
}

h2 {
  font-size: $font-l;
}

h3 {
  font-size: $font-m;

  font-weight: 600;
}

h4,
p,
span,
a {
  font-size: $font-s;
}

.btn {
  align-self: start;
  background-color: $gray;
  border-radius: 8px;
  color: $white;
  padding: 0.5em;
  transition: background-color 0.2s;

  &:hover {
    background-color: $petrol;
  }
}
