/* stylelint-disable function-url-quotes */

.hero-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  .hero-wrapper {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: $max-width;
    width: 100%;

    .video-wrapper {
      align-items: flex-end;
      aspect-ratio: 1/1;
      display: flex;
      height: 100%;
      position: relative;
      transform: translate(calc($spacing * -1), $spacing--2);

      svg {
        height: 0;
        width: 0;
      }

      video {
        aspect-ratio: 1/1;
        clip-path: url(#leaf);
        object-fit: cover;
        position: absolute;
        width: 100%;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      padding: $spacing;
      width: 100%;

      :deep(h1) {
        font-size: 52px;
        letter-spacing: 0.02em;
        line-height: 1.1;
        margin-bottom: $spacing--2;
      }

      a {
        align-self: center;
      }
    }

    @media (min-width: 900px) {
      flex-direction: row;

      .video-wrapper {
        transform: translate(0, 0);
        width: 60%;
      }

      .content {
        align-self: flex-start;
        justify-content: center;
        width: 40%;
        padding-left: 0;

        a {
          align-self: flex-start;
        }
      }
    }
  }

  .background {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    .white-gradient {
      background: rgb(255, 255, 255);
      background: linear-gradient(160deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 40%);
      height: 400px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    svg {
      position: relative;
      transform: scale(1.05);
      transform-origin: center;
      z-index: -1;
    }

    .mobile {
      @media (min-width: 900px) {
        display: none;
      }
    }

    .desktop {
      display: none;
      height: 100%;
      width: 100%;

      @media (min-width: 900px) {
        display: block;
      }
    }
  }
}
