.hero-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
    .hero-wrapper{
        display: flex;
        flex-direction: column;    
        align-items: flex-end;
        max-width: 1200px;
        height: 100%;
        width: 100%;
        margin: 0 auto;    

        .video-wrapper{
            position: relative;
            height: 100%;
            aspect-ratio: 1/1;
            transform: translate(-20px, 40px);

            svg{
                width: 0;
                height: 0;
            }

            video{
                object-fit: cover;
                clip-path: url(#leaf);
                width: 100%;
                position: absolute;
                aspect-ratio: 1/1;
            }
        }

        .content{
            display: flex;
            justify-content: flex-end;
            height: 100%;
            width: 100%;
            flex-direction: column;
            padding: 20px;
    
            :deep(h1) {
                font-size: 52px;
                letter-spacing: 0.02em;
                line-height: 1.1;
                margin-bottom: 20px;
            }

            a {align-self: center;}
        }

        @media (min-width: 900px) {
            flex-wrap: wrap;
            flex-direction: row;

            .video-wrapper{
                width: 50%;
                flex: 1 1 0;
                transform: translate(0, 0);
            }

            .content{
                flex: 1 1 0;
                width: 50%;
            }
        }
    }

    .background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        .white-gradient {
            width: 100%;
            height: 400px;
            top: 0;
            left: 0;
            position: absolute;
            background: rgb(255,255,255);
            background: linear-gradient(160deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 40%);
        }

        svg {
            position: relative;
            z-index: -1;
            transform-origin: center;
            transform: scale(1.05);
        }

        .mobile {
            @media (min-width: 900px) {
                display: none;
            }
        }

        .desktop {
            display: none;
            height: 100%;
            width: 100%;

            @media (min-width: 900px) {
                display: block;
            }
        }
    }
}