.header {
  display: flex;
  justify-content: space-between;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: $max-width;
  justify-self: center;
  z-index: 10;
  transform: translateX(-50%);

  @media (min-width: 900px) {
    padding: 20px 0;
    margin: 20px 0;
  }

  .logo {
    height: 40px;
    width: auto;
  }

  .menu {
    display: flex;
  }

  .menu__button {
    align-self: center;
    height: 22px;
    width: auto;
  }

  .content {
    align-items: center;
    display: none;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    width: 100%;

    ul {
      display: flex;
    }

    a {
      padding: 16px 32px;
    }

    @media (min-width: 900px) {
      display: flex;
    }
  }
}
