.header {
  display: flex;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: $max-width;
  justify-self: center;
  z-index: 10;
  transform: translateX(-50%);

  @media (min-width: 900px) {
    padding: 20px 0;
    margin: 20px 0;
  }

  .logo {
    height: 40px;
    width: auto;
  }

  .menu {
    display: flex;
  }

  .menu__button {
    align-self: center;
    height: 22px;
    width: auto;

    @media (min-width: 900px) {
      display: none;
    }
  }

  .links {
    align-items: center;
    display: none;
    max-width: 1200px;
    width: 100%;
    gap: $spacing;

    a {
      padding: $spacing;
      font-size: $font-m;
      font-weight: 400;
    }

    @media (min-width: 900px) {
      display: flex;
      padding-left: $spacing--4;
      margin-bottom: $spacing;
    }
  }
}
