/* stylelint-disable function-url-quotes */

.orange {
  background-color: #ffbf36; //medibee color
  .sub-header__deko {
    background-color: #fdda7e; //medibee light color
  }
}

.blue {
  background-color: #dbe7f7;
  .sub-header__deko {
    background-color: $white;
  }
}

.green {
  background-color: #9bd0b7;
  .sub-header__deko {
    background-color: #bffde0;
  }
}

.teaser-container {
  width: 100%;
  overflow: hidden;

  @media (min-width: 768px) {
    margin-top: 4rem;
  }

  .teaser-content {
    display: flex;
    gap: $spacing--6;
    margin: 0 auto;
    max-width: $max-width;

    &.right {
      flex-direction: row-reverse;
    }
  }

  .media-wrapper {
    display: flex;
    position: relative;
    z-index: 1;

    svg {
      height: 0;
      width: 0;
    }

    .image-wrapper {
      aspect-ratio: 7/6;
      overflow: hidden;
      display: flex;
      align-items: center;

      img {
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }

    svg path {
      transform-origin: center;
    }

    :deep(.gradient-shape) {
      right: 13px;
      top: -68px;
      transform: scale(1.28) rotateZ(7deg);
      z-index: -1;
    }
  }

  .content-wrapper {
    display: flex;
    flex: 1 0;
    flex-direction: column;
    justify-content: center;
    padding: 32px 0;
    max-width: 500px;

    .sub-header {
      margin-bottom: $spacing;
      position: relative;
      z-index: 1;

      h2 {
        font-family: 'Figtree', sans-serif;
        font-size: 18px;
      }

      &__deko {
        position: absolute;
        left: -18px;
        top: -18px;
        width: 44px;
        height: 44px;
        border-radius: 100rem;
        z-index: -1;
      }
    }

    :deep(h3) {
      font-size: $font-m;
      margin-bottom: $spacing;
    }

    :deep(p) {
      margin-bottom: $spacing--2;
    }
  }
}
