/* stylelint-disable function-url-quotes */

.teaser-container {
  background-color: $yellow;
  width: 100%;

  .teaser-content {
    display: flex;
    gap: 32px;
    margin: 0 auto;
    max-width: 1200px;
  }

  .media-wrapper {
    align-items: flex-end;
    display: flex;
    flex: 1 1 0;
    height: 100%;
    justify-content: flex-end;
    position: relative;
    width: 50%;

    svg {
      height: 0;
      width: 0;
    }

    img {
      aspect-ratio: 1/1;
      clip-path: url(#leaf);
      object-fit: cover;
    }
  }

  .content-wrapper {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding: 32px 0;
    width: 50%;

    .sub-header {
      font-size: 18px;
    }
  }
}
